::-webkit-scrollbar {
  width: 15px;
  background: #000000;
}


::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #0077B6; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0077B6; 
}

.swiper-pagination-bullet{
  background-color: #ffffff;
  /* color: #b30000; */
}

.swiper {
  position: relative; /* Necessário para o posicionamento absoluto dos bullets */
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Ajuste a distância do fundo conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

